@import './styles/base.scss';

:root {
  --primary-color: white;
  --fg-color: blue;
  --duration: 1s;
  --easing: cubic-bezier(.5,0,.5,1);
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 5vmin;
  background-color: var(--primary-color);
  color: var(--fg-color, white)
}

a {
  color: blue;
}

h1 {
  margin: 0;
  color: var(--fg-color);
}

small {
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  margin: 1rem 0;
}

.ball {
  height: 5vmin;
  width: 5vmin;
  left: 50vw;
  border-radius: 50%;
  background: tomato;
  --duration: 1s;
  --stagger: 0.5s;
  --intervalo: calc(var(--duration) - var(--stagger));
  animation: move-right var(--duration) calc(var(--intervalo)* var(--i)) both;


}

@keyframes move-right {
  
  from {
    transform: none;
  }

  to {
    transform: translateX(25vw);
  }
}

